<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="braincrafted_mq.background_process.factory.class">Braincrafted\BackgroundProcess\Factory</parameter>
        <parameter key="braincrafted_mq.background_process.class">Braincrafted\BackgroundProcess\BackgroundProcess</parameter>
        <parameter key="braincrafted_mq.event_loop.factory.class">React\EventLoop\Factory</parameter>
        <parameter key="braincrafted_mq.event_loop.class">React\EventLoop\LoopInterface</parameter>
        <parameter key="braincrafted_mq.socket.class">React\Socket\Server</parameter>
        <parameter key="braincrafted_mq.server.class">Braincrafted\Mq\Server</parameter>
    </parameters>

    <services>

        <service id="braincrafted_mq.background_process.factory" class="%braincrafted_mq.background_process.factory.class%">
            <argument>%braincrafted_mq.background_process.class%</argument>
        </service>

        <service id="braincrafted_mq.event_loop.factory" class="%braincrafted_mq.event_loop.factory.class%" />

        <service id="braincrafted_mq.event_loop" class="%braincrafted_mq.event_loop.class%" factory-service="braincrafted_mq.event_loop.factory" factory-method="create" />

        <service id="braincrafted_mq.socket" class="%braincrafted_mq.socket.class%">
            <argument type="service" id="braincrafted_mq.event_loop" />
        </service>

        <service id="braincrafted_mq.server" class="%braincrafted_mq.server.class%">
            <argument type="service" id="braincrafted_mq.background_process.factory" />
            <argument type="service" id="braincrafted_mq.event_loop" />
            <argument type="service" id="braincrafted_mq.socket" />
        </service>

    </services>

</container>