<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="bc_mq.background_process.factory.class">Bc\BackgroundProcess\Factory</parameter>
        <parameter key="bc_mq.background_process.class">Bc\BackgroundProcess\BackgroundProcess</parameter>
        <parameter key="bc_mq.event_loop.factory.class">React\EventLoop\Factory</parameter>
        <parameter key="bc_mq.event_loop.class">React\EventLoop\LoopInterface</parameter>
        <parameter key="bc_mq.socket.class">React\Socket\Server</parameter>
        <parameter key="bc_mq.server.class">Bc\Mq\Server</parameter>
    </parameters>

    <services>

        <service id="bc_mq.background_process.factory" class="%bc_mq.background_process.factory.class%">
            <argument>%bc_mq.background_process.class%</argument>
        </service>

        <service id="bc_mq.event_loop.factory" class="%bc_mq.event_loop.factory.class%" />

        <service id="bc_mq.event_loop" class="%bc_mq.event_loop.class%" factory-service="bc_mq.event_loop.factory" factory-method="create" />

        <service id="bc_mq.socket" class="%bc_mq.socket.class%">
            <argument type="service" id="bc_mq.event_loop" />
        </service>

        <service id="bc_mq.server" class="%bc_mq.server.class%">
            <argument type="service" id="bc_mq.background_process.factory" />
            <argument type="service" id="bc_mq.event_loop" />
            <argument type="service" id="bc_mq.socket" />
        </service>

    </services>

</container>